*{
    margin: 0;
    padding: 0;
}
.header{
    height: 100vh;
    .navigation{
        width: 60%;
        height: 100vh;
        background-color: #34495e;
        z-index: 2;
        position: absolute;
        left: -60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.8s ease;
        .burger-menu{
            width: 50px;
            height: 50px;
            position: absolute;
            left: 100%;
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &__item{
                width: 50%;
                height: 3px;
                background-color: #000;
                border-radius: 25%;
                &:nth-child(1){
                    transform: translateY(-5px);
                }
                &:nth-child(3){
                    transform: translateY(5px);
                }
            }
        }
        &__list {
            list-style: none;
            &-item{
                padding: 15px 0;
                font-size: 21px;
                a{
                    text-decoration: none;
                    color: #f1c40f;
                }
            }
        }
        &--open{
            left: 0;
        }
    }
    &__background-slider{
        position: relative;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        // background-color: #999;
        background: url('../../assets/slider/smallSlider1.jpg') center center no-repeat;
        background-size: contain;
        .header__logo{
            position: absolute;
            width: 60px;
            height: 60px;
            top: 10px;
            right: 10px;
            background-color: aliceblue;
            border-radius: 50%;
            &-image{
                width: 100%;
                height: 100%;
                border-radius: 40%;
            }
        }
        .header__my-name{
            position: absolute;
            top: 100px;
            right: 25px;
        }
        .header__title{
            position: absolute;
            top: 130px;
            right: 25px;
        }
    }
}